# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PsCs.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\pscs\.idea\.idea.PsCs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
